<!-- Google Adsense -->
script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- google_adsense_right_article_banner -->
ins(
  class="adsbygoogle"
  style="display:inline-block;width:160px;height:600px"
  data-ad-client="ca-pub-2866912874659895"
  data-ad-slot="5210093029"
)
script
  | (adsbygoogle = window.adsbygoogle || []).push({});
<!-- /Google Adsense -->
