<!-- Google Adsense -->
script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- google_adsense_right_main_page_banner -->
ins(
  class="adsbygoogle"
  style="display:inline-block;width:240px;height:400px"
  data-ad-client="ca-pub-2866912874659895"
  data-ad-slot="1751542785"
)
script
  | (adsbygoogle = window.adsbygoogle || []).push({});
<!-- /Google Adsense -->
