<!-- Google Adsense -->
script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
<!-- google_adsense_top_article_banner -->
ins(
  class="adsbygoogle"
  style="display:inline-block;width:980px;height:120px"
  data-ad-client="ca-pub-2866912874659895"
  data-ad-slot="4549198145"
)
script
  | (adsbygoogle = window.adsbygoogle || []).push({});
<!-- /Google Adsense -->
