<!-- Google Adsense -->
script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5911768621562708" crossorigin="anonymous")
<!-- google_adsense_right_main_page_banner -->
ins(
  class="adsbygoogle"
  style="display:inline-block;width:240px;height:400px"
  data-ad-client="ca-pub-5911768621562708"
  data-ad-slot="7788904226"
)
script
  | (adsbygoogle = window.adsbygoogle || []).push({});
<!-- /Google Adsense -->
