doctype html
html(dir="LTR" lang="en")
  head
    include head

  body
    .wrap
      block content
    
    include yandex_metrika

  footer
    hr
    center
      | Made with ❤ and 
      a(href='http://gulpjs.com/') Gulp 
      | ♦ 
      a(href='https://travis-ci.org/') Travis CI 
      | ♦ 
      a(href='https://pages.github.com/') GitHub Pages
