doctype html
html(dir="LTR" lang="en")
  head
    include google_adsense
    include head

  body
    block header
    .wrap-flex
      block content
    .wrap
      include google_adsense_bottom_article_banner
      include disqus
    
    include google_analytics_4

  include footer