<!-- Search script -->
script(type="text/javascript")
  | (function (d) {
  |    var srchForm = d.getElementById('srchForm');
  |    var srchInput = d.getElementById('srchInput');
  |    srchInput.addEventListener('keypress', function(e) {
  |        var path = "https://www.google.com/?q=site:alfilatov.com+" + srchInput.value;
  |        if (e.keyCode === 13) {
  |            srchForm.setAttribute("method", "POST");
  |            srchForm.setAttribute("action", path);
  |            srchForm.submit();
  |        }
  |    });
  | })(document);
<!-- /Search script -->