extend page

block title
  title Aleksandr Filatov

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block content
  h1 Aleksandr Filatov
  
  tag
  ul.list
    each tag in tagList
      li.list__item
        tag